@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Error</h2>

<div class="alert alert-danger">
    @if (ViewBag.ErrorMessage != null)
    {
        <p>@ViewBag.ErrorMessage</p>
    }
    else
    {
        <p>An error occurred while processing your request.</p>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index", "Person", null, new { @class = "btn btn-default" })
</p> 