@{
    ViewBag.Title = "Home";
}

<div class="simple-header">
    <h2>Personal Records</h2>
    <p>Manage your personal information records</p>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <div class="simple-panel">
            <h3>People (@ViewBag.PersonCount)</h3>
            <div class="btn-group" style="margin-top: 15px;">
                @Html.ActionLink("View All", "Index", "Person", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Add New", "Create", "Person", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div> 