@model ProductManagementSystem.Models.Category

@{
    ViewBag.Title = "Category Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Category Details</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>Category Name</dt>
                    <dd>@Model.CategoryName</dd>

                    <dt>Description</dt>
                    <dd>@Model.Description</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div> 